-# encoding: utf-8
%form#afiliacion{:method => "post", :action => action, 'accept-charset' => 'utf-8'}

  %legend
    %img{src: "http://partidopirata.com.ar/wp-content/uploads/2009/11/logo.png"}
    %h1 Sumate al Partido Pirata

  %h2 ¡Momento!
  %p
    ¿Leíste nuestra
    %a{:href => "http://partidopirata.com.ar/documentos/CartaOrganica.html"} Carta Orgánica
    ?

  %h2 ¡Faltan #{4000 - @piratas} piratas sólo en CABA!

  %p
    En este momento estamos en formación en la Ciudad Autónoma de Buenos Aires,
    por lo que nos estamos organizando por
    = link_to 'Comunas', url_for(:comunas, :index)

  %p
    Si te interesa participar en el Partido, dejanos tus datos para que podamos
    organizar reuniones comunales y avisarte cuando juntemos las adhesiones y
    afiliaciones.

  %input.input-block-level{:type => "text", :name => "pirata[nombre]",
    placeholder: "Tu nick o nombre" }

  %input.input-block-level{:type => "text", :name => "pirata[mail]",
    :placeholder => "Dirección de email"}

  %select#comuna.input-block-level{:name => "pirata[comuna]"}
    - comunas.each do |comuna|
      %option{:value => comuna.id}= "#{comuna.nombre} - #{comuna.barrios}"

  %p
    %small
      Al completar estos datos, entendemos que tenés interés en participar de
      nuestras actividades y convertirte en Pirata.

  %p
    %small
      Si queres saber mas del partido aca podes leer nuestra
      %a{:href => "http://partidopirata.com.ar/documentos/CartaOrganica.html"} Carta Orgánica
      y nuestros
      %a{:href => "http://partidopirata.com.ar/principios-piratas/"} Principios.

  %p
    %small
      Si queres crear el partido en otro lado o debatir online unite a la
      %a{:href => "http://asambleas.partidopirata.com.ar/listinfo/general"} asamblea.

  %button.btn.btn-large.btn-primary{:type => 'submit'} ¡Soy pirata!
